@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}

nav {
    width: 100%;
    /* padding: 25px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    box-shadow: 0px 12px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>a {
    text-decoration: none;
    font-size: 35px;
}

#scope {
    color: white;
}

#coding {
    color: blue;
}

.toggle-btn {
    display: none;
}

.nav-icon {
    color: white;
    font-size: 25px;
}

.nav-links {
    display: flex;
}

.nav-links>li {
    list-style-type: none;
}

.nav-links>li>a {
    text-decoration: none;
    color: white;
    padding: 25px;
    display: block;
    border-radius: 10px;
    margin-right: 5px;
}

.nav-links>li>a:hover {
    background-color: white;
    color: #333;
}

.active {
    background-color: blue;
}

.nav-links>li>.active:hover {
    background-color: blue;
    color: white;
}

.python-section {
    width: 100%;
    margin-top: 150px;
    padding: 25px;
    /* top = 50px */
    padding-left: 0;
    /* padding-right: 0 */
    /* when ad-div is present */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.content-toggle {
    display: none;
}



.index-div {
    /* margin-top: 200px; */
    /* width: 400px; */
    /* width: 1000px; */
    /* width: 40%; */
    width: 300px;
    background-color: #333;
    margin-right: 20px;
    /* height: 700px; */
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 75px;
    padding-bottom: 100px;

}

.index-div>h1 {
    color: blue;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-links {
    margin-bottom: 10px;
}

.content-links>li {
    list-style-type: none;
}

.content-links>li>a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    border-right: 1px solid #333;
}

.content-active {
    background-color: blue;
}

.content-links>li>a:hover {
    background-color: white;
    color: #333;
}

.content-links>li>.content-active:hover {
    background-color: blue;
    color: white;
}

.content-div {
    width: 100%;
    /* width change to 70% when ad-div is present */
    border: 1px solid #333;
    padding: 15px;
    line-height: 1.5;
    /* margin-left: 315px; */
}

.primary-heading {
    text-align: center;
}

.secondary-heading {
    margin-top: 25px;
}

.point-list {
    margin-left: 25px;
}

.para {
    margin-top: 25px;
}

.content-img {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-img>img {
    width: 600px;
    margin-bottom: 10px;
}

.content-main {
    /* margin-top: 200px; */
    border: 1px solid black;
    padding: 25px;
    margin-left: 315px;
}

.div-ad {
    border: 1px solid #333;
    width: 15%;
    /* don't change this value */
    margin-left: 25px;
    display: none;
    justify-content: center;
}

footer {
    background-color: #333;
    width: 100%;
    padding: 25px;
    padding-left: 320px;
    text-align: center;
}

.copyright-div>p {
    color: white;
}

.copyright-div>p>a {
    text-decoration: none;
    color: white;
}

.coding {
    color: blue;
}

.copyright-div>a {
    text-decoration: none;
    color: white;
}

.copyright-div>a:hover {
    color: blue;
}

.tos {
    margin-right: 25px;
}

@media screen and (max-width: 850px) {
    nav {
        flex-direction: column;
        z-index: 3;
    }

    .image {
        width: 100%;
    }

    .in-image {
        text-align: center;

    }

    .nav-links>li>a {
        text-decoration: none;
        color: white;
        padding: 0px 20px;
        display: block;
        border-radius: 10px;
        margin-right: 5px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .nav-links {
        justify-content: space-between;
        margin-top: 10px;
    }

    .index-div {
        display: none;
        position: absolute;
        /* position: fixed; */
        margin-top: 65px;
        flex-direction: column;
        left: 0;
        overflow-y: unset;
    }

    .index-div {
        /* height: 400px; */
        overflow-y: scroll;
        /* z-index: 0; */


    }

    .content-toggle {
        display: flex;
        color: #333;
        position: absolute;
        top: 100px;
    }

    .content-icon {
        font-size: 25px;
    }

    .python-section {
        padding-left: 25px;
        margin-top: 150px;

    }

    .content-img>img {
        width: 100%;
    }

    .index-div.index-active {
        display: flex;
    }

    .content-icon.content-rotate {
        transform: rotate(180deg);
        transition: all 0.2s;
    }



    .index-div {
        width: 50%;
        /* height: 100%; */
        /* margin-top: 70px; */
    }

    .content-main {
        margin-left: 0;
    }

    footer {
        padding-left: 0;
    }
}

@media screen and (max-width: 550px) {
    nav {
        align-items: flex-start;
    }

    .image {
        width: 100%;


    }

    .in-image {
        text-align: center;

    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        z-index: 3;
        left: 0;
        height: 250px;
        background-color: #333;
        top: 50px;
        justify-content: center;
    }

    .nav-links>li>a {
        border-radius: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .toggle-btn {
        display: flex;
        position: absolute;
        right: 25px;
        top: 10px;
    }

    .nav-links.active-toggle {
        display: flex;
    }

    .nav-icon.nav-toggle {
        transform: rotate(180deg);
        transition: all 0.2s;
    }

    .content-toggle {
        top: 65px;
    }

    .index-div {
        width: 70%;
        height: 100%;
        margin-top: 55px;
    }

    .python-section {
        padding-left: 25px;
        margin-top: 50px;
        padding: 16px;
    }

    .content-main {
        padding: 20px;
    }
}

@media screen and (min-width:300px) and (max-width: 390px) {
    .logo>a {
        font-size: 30px;
    }

    .button {
        margin: 0;
    }

    .button>button {
        margin: 0;
        padding: 0;
    }

    .python-section {
        padding: 10px;
    }

    .index-div {
        margin-top: 30px;
    }

    .content-main {
        padding: 10px;
    }

    .bottom-btn {
        padding: 0;
        margin: 0;
    }
}