@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;

    /* overflow-x: hidden; */
}


body {
    /* background-color: rgba(255, 0, 0, 0.4); */
    overflow-x: hidden;

    background-color: #7cfdb6;

}



@media (min-width:751px) {
    a>.toggle-btn {
        display: none;

    }





}

.topics_intro {
    display: flex;
    background: rgb(16, 15, 15);
    color: white;
    padding: 10px 30px;
    line-height: 20px;
    border-radius: 15px;
}

img {
    width: 100%;
    /* box-shadow: 0 10px 20px; */
    /* border-radius: 10px; */
}


/* // */



section {

    justify-content: center;
    box-shadow: 0px 15px 20px black;
    background-color: white;
    /* border-radius: 20px; */
    line-height: 30px;
    margin: 10px;
    padding: 0 25px;


}



/* TILL ABOVE */

/* FIRST SECTION  */
#firstsection {
    display: flex;

}




#explained {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}



#heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}





#importanttips ol {
    margin: 30px 30px;

}



#stepstolearn {
    margin: 40px 2px;
}



#characterset {
    margin-top: 40px;
}



.innerheadings {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px 2px;
    color: rgb(0, 0, 0);
    letter-spacing: .3px;
    font-weight: 900;
    font: url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto+Mono&display=swap");
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
}


#rulesforconstant ul,
.example ul,
.realconstants ul,
.characterconstant ul,
.cvariables ul,
#rulesforvarname ul,
.for-all-li ul {
    margin-left: 5%;

}

ol {
    margin-left: 10%;
}

.example {
    border-left: 10px solid rgb(4, 208, 4);
    background-color: rgb(254, 243, 113);

}

.highlighted-lines {
    background-color: rgba(247, 98, 235, 0.638);
}


.image {
    width: 40%;
    margin: 20px 0;
}



/* keywords */


#c_keyword {
    display: flex;
    background-color: rgb(24, 101, 24);
    color: white;


    justify-content: center;
    border-radius: 20px;
    box-shadow: black 0px 10px 10px;
    margin-bottom: 40px;

}

#c_keyword ul {
    padding: 10px 10px;

    justify-content: center;
}

#c_keyword ul li {

    list-style: none;
    font-size: 1em;

}

/*  */



/* button */


.next_btn {
    margin-top: 60px;
    padding: 18px;
    border-radius: 1em;

    display: flex;
    background-color: rgb(25, 134, 25);
    color: white;
    border: 0px;
    box-shadow: black 0px 5px 5px;
    margin: 100%;


}

.next_btn a {
    color: white;
    text-decoration: none;
    padding: 0px 6px;
    font-size: large;

}

.next_btn:hover {
    color: white;
    background-color: blue;
    box-shadow: 0px 10px 20px black;

}

.all-buttons {
    display: flex;

    justify-content: center;
    width: 5%;
}

/* extra contents */

.practice-it ul {
    padding: 40px;
    background-color: black;
    color: white;

}

.practice-it ul li {
    list-style: lower-alpha;
    letter-spacing: 1px;
}

.program {
    background-color: black;
    color: rgb(0, 255, 0);
    padding: 30px;
    border-radius: 20px;
    margin: 30px 0;
}

.question ul {
    margin-left: 25px;
}





@media (min-width:400px)and(max-width: 750px) {

    /* MEDIA QUERY FOR DROPDOWN MENU */
    .left_menubar {
        display: inline-block;

    }

    .left_menubar ul {}

    #rightdiv {
        display: none;
    }

    .image {
        width: 100%;
    }

    #characterset img {
        width: 100%;
    }

    #explained {
        width: 100%;
        justify-content: center;


    }




}

@media(max-width:399px) {
    #c_keyword {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    #c_keyword ul {

        padding: 0 30px;
    }
}